<meta charset="utf-8">

{% seo %}

{% unless site.atom_feed.hide %}
  <link href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ '/feed.xml' | relative_url }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">
{% endunless %}

<!-- https://t.co/dKP3o1e -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

{%- if site.reset | default: true, allow_false: true -%}
  {% include reset.html %}
{%- endif -%}
{%- if site.darkmode | default: true, allow_false: true -%}
  {% include dark.html %}
{%- endif -%}
{% include custom-head.html %}

{% if site.head_scripts %}
  {% for script in site.head_scripts %}
    <script src="{{ script | relative_url }}"></script>
  {% endfor %}
{% endif %}
