<meta charset="utf-8">

{% seo %}

{% unless site.atom_feed.hide %}
  <link href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ '/feed.xml' | relative_url }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">
{% endunless %}

<!-- https://t.co/dKP3o1e -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

{%- if site.reset !== false -%}
  {% include reset.html %}
{%- endif -%}
{%- if site.darkmode !== false -%}
  {% include dark.html %}
{%- endif -%}

{% include custom-head.html %}
