html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection {
  text-shadow: none;
}

::selection {
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

[hidden] {
  display: none !important;
}

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

body {
  background-color: #fff;
  padding:50px;
  font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#727272;
  font-weight:400;
}

h1, h2, h3, h4, h5, h6 {
  color:#222;
  margin:0 0 20px;
}

p, ul, ol, table, pre, dl {
  margin:0 0 20px;
}

h1, h2, h3 {
  line-height:1.1;
}

h1 {
  font-size:28px;
}

h2 {
  color:#393939;
}

h3, h4, h5, h6 {
  color:#494949;
}

a {
  color:#267CB9;
  text-decoration:none;
}

a:hover, a:focus {
  color:#069;
  font-weight: bold;
}

a small {
  font-size:11px;
  color:#777;
  margin-top:-0.3em;
  display:block;
}

a:hover small {
  color:#777;
}

.wrapper {
  width:860px;
  margin:0 auto;
}

blockquote {
  border-left:1px solid #e5e5e5;
  margin:0;
  padding:0 0 0 20px;
  font-style:italic;
}

code, pre {
  font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
  color:#333;
}

pre {
  padding:8px 15px;
  background: #f8f8f8;
  border-radius:5px;
  border:1px solid #e5e5e5;
  overflow-x: auto;
}

table {
  width:100%;
  border-collapse:collapse;
}

th, td {
  text-align:left;
  padding:5px 10px;
  border-bottom:1px solid #e5e5e5;
}

dt {
  color:#444;
  font-weight:700;
}

th {
  color:#444;
}

img {
  max-width:100%;
}

kbd {
  background-color: #fafbfc;
  border: 1px solid #c6cbd1;
  border-bottom-color: #959da5;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #959da5;
  color: #444d56;
  display: inline-block;
  font-size: 11px;
  line-height: 10px;
  padding: 3px 5px;
  vertical-align: middle;
}

header {
  width:270px;
  float:left;
  position:fixed;
  -webkit-font-smoothing:subpixel-antialiased;
}

strong {
  color:#222;
  font-weight:700;
}

section {
  width:500px;
  float:right;
  padding-bottom:50px;
}

small {
  font-size:11px;
}

hr {
  border:0;
  background:#e5e5e5;
  height:1px;
  margin:0 0 20px;
}

footer {
  width:270px;
  float:left;
  position:fixed;
  bottom:50px;
  -webkit-font-smoothing:subpixel-antialiased;
}

@media print, screen and (max-width: 960px) {

  div.wrapper {
    width:auto;
    margin:0;
  }

  header, section, footer {
    float:none;
    position:static;
    width:auto;
  }

  header {
    padding-right:320px;
  }

  section {
    border:1px solid #e5e5e5;
    border-width:1px 0;
    padding:20px 0;
    margin:0 0 20px;
  }

  header a small {
    display:inline;
  }

  header ul {
    position:absolute;
    right:50px;
    top:52px;
  }
}

@media print, screen and (max-width: 720px) {
  body {
    word-wrap:break-word;
  }

  header {
    padding:0;
  }

  header ul, header p.view {
    position:static;
  }

  pre, code {
    word-wrap:normal;
  }
}

@media print, screen and (max-width: 480px) {
  body {
    padding:15px;
  }
}

.highlight table td { padding: 5px; }
.highlight table pre { margin: 0; }
.highlight .cm {
  color: #999988;
  font-style: italic;
}
.highlight .cp {
  color: #999999;
  font-weight: bold;
}
.highlight .c1 {
  color: #999988;
  font-style: italic;
}
.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic;
}
.highlight .c, .highlight .cd {
  color: #999988;
  font-style: italic;
}
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}
.highlight .gd {
  color: #000000;
  background-color: #ffdddd;
}
.highlight .ge {
  color: #000000;
  font-style: italic;
}
.highlight .gr {
  color: #aa0000;
}
.highlight .gh {
  color: #999999;
}
.highlight .gi {
  color: #000000;
  background-color: #ddffdd;
}
.highlight .go {
  color: #888888;
}
.highlight .gp {
  color: #555555;
}
.highlight .gs {
  font-weight: bold;
}
.highlight .gu {
  color: #aaaaaa;
}
.highlight .gt {
  color: #aa0000;
}
.highlight .kc {
  color: #000000;
  font-weight: bold;
}
.highlight .kd {
  color: #000000;
  font-weight: bold;
}
.highlight .kn {
  color: #000000;
  font-weight: bold;
}
.highlight .kp {
  color: #000000;
  font-weight: bold;
}
.highlight .kr {
  color: #000000;
  font-weight: bold;
}
.highlight .kt {
  color: #445588;
  font-weight: bold;
}
.highlight .k, .highlight .kv {
  color: #000000;
  font-weight: bold;
}
.highlight .mf {
  color: #009999;
}
.highlight .mh {
  color: #009999;
}
.highlight .il {
  color: #009999;
}
.highlight .mi {
  color: #009999;
}
.highlight .mo {
  color: #009999;
}
.highlight .m, .highlight .mb, .highlight .mx {
  color: #009999;
}
.highlight .sb {
  color: #d14;
}
.highlight .sc {
  color: #d14;
}
.highlight .sd {
  color: #d14;
}
.highlight .s2 {
  color: #d14;
}
.highlight .se {
  color: #d14;
}
.highlight .sh {
  color: #d14;
}
.highlight .si {
  color: #d14;
}
.highlight .sx {
  color: #d14;
}
.highlight .sr {
  color: #009926;
}
.highlight .s1 {
  color: #d14;
}
.highlight .ss {
  color: #990073;
}
.highlight .s {
  color: #d14;
}
.highlight .na {
  color: #008080;
}
.highlight .bp {
  color: #999999;
}
.highlight .nb {
  color: #0086B3;
}
.highlight .nc {
  color: #445588;
  font-weight: bold;
}
.highlight .no {
  color: #008080;
}
.highlight .nd {
  color: #3c5d5d;
  font-weight: bold;
}
.highlight .ni {
  color: #800080;
}
.highlight .ne {
  color: #990000;
  font-weight: bold;
}
.highlight .nf {
  color: #990000;
  font-weight: bold;
}
.highlight .nl {
  color: #990000;
  font-weight: bold;
}
.highlight .nn {
  color: #555555;
}
.highlight .nt {
  color: #000080;
}
.highlight .vc {
  color: #008080;
}
.highlight .vg {
  color: #008080;
}
.highlight .vi {
  color: #008080;
}
.highlight .nv {
  color: #008080;
}
.highlight .ow {
  color: #000000;
  font-weight: bold;
}
.highlight .o {
  color: #000000;
  font-weight: bold;
}
.highlight .w {
  color: #bbbbbb;
}
.highlight {
  background-color: #f8f8f8;
}

@media print {
  body {
    padding:0.4in;
    font-size:12pt;
    color:#444;
  }
}

.dark {
  a {
    color: rgb(140, 140, 250);
  }

  ::-webkit-scrollbar-track-piece {
    background-color: rgba(255, 255, 255, 0.2) !important;
  }

  ::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.3) !important;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.5) !important;
  }

  embed[type="application/pdf"] {
    filter: invert(90%);
  }

  html {
    color: rgb(191, 191, 191);
    background: rgb(31, 31, 31) !important;
  }

  body {
    background-color: rgb(31, 31, 31);
    background-image: none !important;
  }

  input,
  select,
  textarea,
  button {
    color: rgb(191, 191, 191);
    background-color: rgb(31, 31, 31);
  }

  font {
    color: rgb(191, 191, 191);
  }

  html {
    filter: contrast(100%) brightness(100%) saturate(100%);
  }

  .NIGHTEYE_Filter {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    pointer-events: none;
    z-index: 2147483647;
  }

  .NIGHTEYE_YellowFilter {
    background: rgba(255, 255, 0, 0.15);
    opacity: 0;
  }

  .NIGHTEYE_BlueFilter {
    background: rgba(0, 0, 255, 0.15);
    opacity: 0;
  }

  .NIGHTEYE_DimFilter {
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
  }

  .NIGHTEYE_TransformZ {
    transform: translateZ(0px);
  }

  body {
    background-color: rgb(28, 28, 33);
    color: rgb(191, 191, 191);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: rgb(191, 191, 191);
  }

  h2 {
    color: rgb(191, 191, 191);
  }

  h3,
  h4,
  h5,
  h6 {
    color: rgb(191, 191, 191);
  }

  a {
    color: rgb(153, 198, 230);
  }

  a:hover,
  a:focus {
    color: rgb(153, 204, 230);
  }

  a small {
    color: rgb(191, 191, 191);
  }

  a:hover small {
    color: rgb(191, 191, 191);
  }

  blockquote {
    border-left: 1px solid rgb(51, 51, 51);
  }

  code,
  pre {
    color: rgb(191, 191, 191);
  }

  pre {
    background: rgb(33, 33, 33);
    border: 1px solid rgb(51, 51, 51);
  }

  th,
  td {
    border-bottom: 1px solid rgb(51, 51, 51);
  }

  dt {
    color: rgb(191, 191, 191);
  }

  th {
    color: rgb(191, 191, 191);
  }

  kbd {
    background-color: rgb(31, 31, 31);
    border-color: rgb(68, 76, 85) rgb(68, 76, 85) rgb(113, 122, 132);
    box-shadow: rgb(113, 122, 132) 0px -1px 0px inset;
    color: rgb(184, 191, 199);
  }

  strong {
    color: rgb(191, 191, 191);
  }

  hr {
    background: rgb(51, 51, 51);
  }

  @media print, screen and (max-width: 960px) {
    section {
      border-color: rgb(51, 51, 51);
    }
  }

  .highlight .cm {
    color: rgb(196, 196, 186);
  }

  .highlight .cp {
    color: rgb(191, 191, 191);
  }

  .highlight .c1 {
    color: rgb(196, 196, 186);
  }

  .highlight .cs {
    color: rgb(191, 191, 191);
  }

  .highlight .c,
  .highlight .cd {
    color: rgb(196, 196, 186);
  }

  .highlight .err {
    color: rgb(230, 153, 153);
    background-color: rgb(75, 47, 47);
  }

  .highlight .gd {
    color: rgb(191, 191, 191);
    background-color: rgb(69, 17, 17);
  }

  .highlight .ge {
    color: rgb(191, 191, 191);
  }

  .highlight .gr {
    color: rgb(230, 153, 153);
  }

  .highlight .gh {
    color: rgb(191, 191, 191);
  }

  .highlight .gi {
    color: rgb(191, 191, 191);
    background-color: rgb(17, 69, 17);
  }

  .highlight .go {
    color: rgb(191, 191, 191);
  }

  .highlight .gp {
    color: rgb(191, 191, 191);
  }

  .highlight .gu {
    color: rgb(191, 191, 191);
  }

  .highlight .gt {
    color: rgb(230, 153, 153);
  }

  .highlight .kc {
    color: rgb(191, 191, 191);
  }

  .highlight .kd {
    color: rgb(191, 191, 191);
  }

  .highlight .kn {
    color: rgb(191, 191, 191);
  }

  .highlight .kp {
    color: rgb(191, 191, 191);
  }

  .highlight .kr {
    color: rgb(191, 191, 191);
  }

  .highlight .kt {
    color: rgb(170, 181, 212);
  }

  .highlight .k,
  .highlight .kv {
    color: rgb(191, 191, 191);
  }

  .highlight .mf {
    color: rgb(153, 230, 230);
  }

  .highlight .mh {
    color: rgb(153, 230, 230);
  }

  .highlight .il {
    color: rgb(153, 230, 230);
  }

  .highlight .mi {
    color: rgb(153, 230, 230);
  }

  .highlight .mo {
    color: rgb(153, 230, 230);
  }

  .highlight .m,
  .highlight .mb,
  .highlight .mx {
    color: rgb(153, 230, 230);
  }

  .highlight .sb {
    color: rgb(230, 153, 172);
  }

  .highlight .sc {
    color: rgb(230, 153, 172);
  }

  .highlight .sd {
    color: rgb(230, 153, 172);
  }

  .highlight .s2 {
    color: rgb(230, 153, 172);
  }

  .highlight .se {
    color: rgb(230, 153, 172);
  }

  .highlight .sh {
    color: rgb(230, 153, 172);
  }

  .highlight .si {
    color: rgb(230, 153, 172);
  }

  .highlight .sx {
    color: rgb(230, 153, 172);
  }

  .highlight .sr {
    color: rgb(153, 230, 172);
  }

  .highlight .s1 {
    color: rgb(230, 153, 172);
  }

  .highlight .ss {
    color: rgb(230, 153, 210);
  }

  .highlight .s {
    color: rgb(230, 153, 172);
  }

  .highlight .na {
    color: rgb(153, 230, 230);
  }

  .highlight .bp {
    color: rgb(191, 191, 191);
  }

  .highlight .nb {
    color: rgb(153, 210, 230);
  }

  .highlight .nc {
    color: rgb(170, 181, 212);
  }

  .highlight .no {
    color: rgb(153, 230, 230);
  }

  .highlight .nd {
    color: rgb(177, 205, 205);
  }

  .highlight .ni {
    color: rgb(230, 153, 230);
  }

  .highlight .ne {
    color: rgb(230, 153, 153);
  }

  .highlight .nf {
    color: rgb(230, 153, 153);
  }

  .highlight .nl {
    color: rgb(230, 153, 153);
  }

  .highlight .nn {
    color: rgb(191, 191, 191);
  }

  .highlight .nt {
    color: rgb(153, 153, 230);
  }

  .highlight .vc {
    color: rgb(153, 230, 230);
  }

  .highlight .vg {
    color: rgb(153, 230, 230);
  }

  .highlight .vi {
    color: rgb(153, 230, 230);
  }

  .highlight .nv {
    color: rgb(153, 230, 230);
  }

  .highlight .ow {
    color: rgb(191, 191, 191);
  }

  .highlight .o {
    color: rgb(191, 191, 191);
  }

  .highlight .w {
    color: rgb(191, 191, 191);
  }

  .highlight {
    background-color: rgb(33, 33, 33);
  }

  @media print {
    body {
      color: rgb(68, 68, 68);
    }
  }
}
