/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/* Document ======== */
/** Use a better box model (opinionated). */
 *, ::before, ::after {
     box-sizing: border-box;
}
/** 1. Correct the line height in all browsers. 2. Prevent adjustments of font size after orientation changes in iOS. 3. Use a more readable tab size (opinionated). */
 html {
     line-height: 1.15;
    /* 1 */
     -webkit-text-size-adjust: 100%;
    /* 2 */
     -moz-tab-size: 4;
    /* 3 */
     tab-size: 4;
    /* 3 */
}
/* Sections ======== */
/** 1. Remove the margin in all browsers. 2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3) */
 body {
     margin: 0;
    /* 1 */
     font-family: system-ui, -apple-system, 
    /* Firefox supports this but not yet `system-ui` */
     'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
    /* 2 */
}
/* Grouping content ================ */
/** 1. Add the correct height in Firefox. 2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655) */
 hr {
     height: 0;
    /* 1 */
     color: inherit;
    /* 2 */
}
/* Text-level semantics ==================== */
/** Add the correct text decoration in Chrome, Edge, and Safari. */
 abbr[title] {
     text-decoration: underline dotted;
}
/** Add the correct font weight in Edge and Safari. */
 b, strong {
     font-weight: bolder;
}
/** 1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3) 2. Correct the odd 'em' font sizing in all browsers. */
 code, kbd, samp, pre {
     font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
    /* 1 */
     font-size: 1em;
    /* 2 */
}
/** Add the correct font size in all browsers. */
 small {
     font-size: 80%;
}
/** Prevent 'sub' and 'sup' elements from affecting the line height in all browsers. */
 sub, sup {
     font-size: 75%;
     line-height: 0;
     position: relative;
     vertical-align: baseline;
}
 sub {
     bottom: -0.25em;
}
 sup {
     top: -0.5em;
}
/* Tabular data ============ */
/** 1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297) 2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016) */
 table {
     text-indent: 0;
    /* 1 */
     border-color: inherit;
    /* 2 */
}
/* Forms ===== */
/** 1. Change the font styles in all browsers. 2. Remove the margin in Firefox and Safari. */
 button, input, optgroup, select, textarea {
     font-family: inherit;
    /* 1 */
     font-size: 100%;
    /* 1 */
     line-height: 1.15;
    /* 1 */
     margin: 0;
    /* 2 */
}
/** Remove the inheritance of text transform in Edge and Firefox. */
 button, select {
     text-transform: none;
}
/** Correct the inability to style clickable types in iOS and Safari. */
 button, [type='button'], [type='reset'], [type='submit'] {
     -webkit-appearance: button;
}
/** Remove the inner border and padding in Firefox. */
 ::-moz-focus-inner {
     border-style: none;
     padding: 0;
}
/** Restore the focus styles unset by the previous rule. */
 :-moz-focusring {
     outline: 1px dotted ButtonText;
}
/** Remove the additional ':invalid' styles in Firefox. See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737 */
 :-moz-ui-invalid {
     box-shadow: none;
}
/** Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers. */
 legend {
     padding: 0;
}
/** Add the correct vertical alignment in Chrome and Firefox. */
 progress {
     vertical-align: baseline;
}
/** Correct the cursor style of increment and decrement buttons in Safari. */
 ::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
     height: auto;
}
/** 1. Correct the odd appearance in Chrome and Safari. 2. Correct the outline style in Safari. */
 [type='search'] {
     -webkit-appearance: textfield;
    /* 1 */
     outline-offset: -2px;
    /* 2 */
}
/** Remove the inner padding in Chrome and Safari on macOS. */
 ::-webkit-search-decoration {
     -webkit-appearance: none;
}
/** 1. Correct the inability to style clickable types in iOS and Safari. 2. Change font properties to 'inherit' in Safari. */
 ::-webkit-file-upload-button {
     -webkit-appearance: button;
    /* 1 */
     font: inherit;
    /* 2 */
}
/* Interactive =========== */
/* Add the correct display in Chrome and Safari. */
 summary {
     display: list-item;
}
 img {
     max-width: 100%;
     height:auto;
}
 pre {
     border: 1px solid lightgray;
     overflow-x: auto;
}
 .highlight table td {
     padding: 5px;
}
 .highlight table pre {
     margin: 0;
}
 .highlight .cm {
     color: #999988;
     font-style: italic;
}
 .highlight .cp {
     color: #999999;
     font-weight: bold;
}
 .highlight .c1 {
     color: #999988;
     font-style: italic;
}
 .highlight .cs {
     color: #999999;
     font-weight: bold;
     font-style: italic;
}
 .highlight .c, .highlight .cd {
     color: #999988;
     font-style: italic;
}
 .highlight .err {
     color: #a61717;
     background-color: #e3d2d2;
}
 .highlight .gd {
     color: #000000;
     background-color: #ffdddd;
}
 .highlight .ge {
     color: #000000;
     font-style: italic;
}
 .highlight .gr {
     color: #aa0000;
}
 .highlight .gh {
     color: #999999;
}
 .highlight .gi {
     color: #000000;
     background-color: #ddffdd;
}
 .highlight .go {
     color: #888888;
}
 .highlight .gp {
     color: #555555;
}
 .highlight .gs {
     font-weight: bold;
}
 .highlight .gu {
     color: #aaaaaa;
}
 .highlight .gt {
     color: #aa0000;
}
 .highlight .kc {
     color: #000000;
     font-weight: bold;
}
 .highlight .kd {
     color: #000000;
     font-weight: bold;
}
 .highlight .kn {
     color: #000000;
     font-weight: bold;
}
 .highlight .kp {
     color: #000000;
     font-weight: bold;
}
 .highlight .kr {
     color: #000000;
     font-weight: bold;
}
 .highlight .kt {
     color: #445588;
     font-weight: bold;
}
 .highlight .k, .highlight .kv {
     color: #000000;
     font-weight: bold;
}
 .highlight .mf {
     color: #009999;
}
 .highlight .mh {
     color: #009999;
}
 .highlight .il {
     color: #009999;
}
 .highlight .mi {
     color: #009999;
}
 .highlight .mo {
     color: #009999;
}
 .highlight .m, .highlight .mb, .highlight .mx {
     color: #009999;
}
 .highlight .sb {
     color: #d14;
}
 .highlight .sc {
     color: #d14;
}
 .highlight .sd {
     color: #d14;
}
 .highlight .s2 {
     color: #d14;
}
 .highlight .se {
     color: #d14;
}
 .highlight .sh {
     color: #d14;
}
 .highlight .si {
     color: #d14;
}
 .highlight .sx {
     color: #d14;
}
 .highlight .sr {
     color: #009926;
}
 .highlight .s1 {
     color: #d14;
}
 .highlight .ss {
     color: #990073;
}
 .highlight .s {
     color: #d14;
}
 .highlight .na {
     color: #008080;
}
 .highlight .bp {
     color: #999999;
}
 .highlight .nb {
     color: #0086b3;
}
 .highlight .nc {
     color: #445588;
     font-weight: bold;
}
 .highlight .no {
     color: #008080;
}
 .highlight .nd {
     color: #3c5d5d;
     font-weight: bold;
}
 .highlight .ni {
     color: #800080;
}
 .highlight .ne {
     color: #990000;
     font-weight: bold;
}
 .highlight .nf {
     color: #990000;
     font-weight: bold;
}
 .highlight .nl {
     color: #990000;
     font-weight: bold;
}
 .highlight .nn {
     color: #555555;
}
 .highlight .nt {
     color: #000080;
}
 .highlight .vc {
     color: #008080;
}
 .highlight .vg {
     color: #008080;
}
 .highlight .vi {
     color: #008080;
}
 .highlight .nv {
     color: #008080;
}
 .highlight .ow {
     color: #000000;
     font-weight: bold;
}
 .highlight .o {
     color: #000000;
     font-weight: bold;
}
 .highlight .w {
     color: #bbbbbb;
}
 .highlight {
     background-color: #f8f8f8;
}
 @media print {
     body {
         padding: 0.4in;
         font-size: 12pt;
         color: #444;
    }
}
 .dark {
     a {
         color: rgb(140, 140, 250);
    }
     ::-webkit-scrollbar-track-piece {
         background-color: rgba(255, 255, 255, 0.2) !important;
    }
     ::-webkit-scrollbar-track {
         background-color: rgba(255, 255, 255, 0.3) !important;
    }
     ::-webkit-scrollbar-thumb {
         background-color: rgba(255, 255, 255, 0.5) !important;
    }
     embed[type="application/pdf"] {
         filter: invert(90%);
    }
     color: rgb(191, 191, 191);
     background: rgb(31, 31, 31) !important;
     body {
         background-color: rgb(31, 31, 31);
         background-image: none !important;
    }
     input, select, textarea, button {
         color: rgb(191, 191, 191);
         background-color: rgb(31, 31, 31);
    }
     font {
         color: rgb(191, 191, 191);
    }
     filter: contrast(100%) brightness(100%) saturate(100%);
     .filter {
         width: 100%;
         height: 100%;
         position: fixed;
         left: 0px;
         top: 0px;
         pointer-events: none;
         z-index: 2147483647;
    }
     .yellow-filter {
         background: rgba(255, 255, 0, 0.15);
         opacity: 0;
    }
     .blue-filter {
         background: rgba(0, 0, 255, 0.15);
         opacity: 0;
    }
     .dim-filter {
         background: rgba(0, 0, 0, 0.5);
         opacity: 0;
    }
     .transform-z {
         transform: translateZ(0px);
    }
     th, td {
         border-bottom: 1px solid rgb(69, 69, 69);
    }
     blockquote {
         border-left: 1px solid rgb(69, 69, 69);
    }
     pre {
         border: 1px solid rgb(69, 69, 69);
    }
     .highlight .cm {
         color: rgb(196, 196, 186);
    }
     .highlight .cp {
         color: rgb(191, 191, 191);
    }
     .highlight .c1 {
         color: rgb(196, 196, 186);
    }
     .highlight .cs {
         color: rgb(191, 191, 191);
    }
     .highlight .c, .highlight .cd {
         color: rgb(196, 196, 186);
    }
     .highlight .err {
         color: rgb(230, 153, 153);
         background-color: rgb(75, 47, 47);
    }
     .highlight .gd {
         color: rgb(191, 191, 191);
         background-color: rgb(69, 17, 17);
    }
     .highlight .ge {
         color: rgb(191, 191, 191);
    }
     .highlight .gr {
         color: rgb(230, 153, 153);
    }
     .highlight .gh {
         color: rgb(191, 191, 191);
    }
     .highlight .gi {
         color: rgb(191, 191, 191);
         background-color: rgb(17, 69, 17);
    }
     .highlight .go {
         color: rgb(191, 191, 191);
    }
     .highlight .gp {
         color: rgb(191, 191, 191);
    }
     .highlight .gu {
         color: rgb(191, 191, 191);
    }
     .highlight .gt {
         color: rgb(230, 153, 153);
    }
     .highlight .kc {
         color: rgb(191, 191, 191);
    }
     .highlight .kd {
         color: rgb(191, 191, 191);
    }
     .highlight .kn {
         color: rgb(191, 191, 191);
    }
     .highlight .kp {
         color: rgb(191, 191, 191);
    }
     .highlight .kr {
         color: rgb(191, 191, 191);
    }
     .highlight .kt {
         color: rgb(170, 181, 212);
    }
     .highlight .k, .highlight .kv {
         color: rgb(191, 191, 191);
    }
     .highlight .mf {
         color: rgb(153, 230, 230);
    }
     .highlight .mh {
         color: rgb(153, 230, 230);
    }
     .highlight .il {
         color: rgb(153, 230, 230);
    }
     .highlight .mi {
         color: rgb(153, 230, 230);
    }
     .highlight .mo {
         color: rgb(153, 230, 230);
    }
     .highlight .m, .highlight .mb, .highlight .mx {
         color: rgb(153, 230, 230);
    }
     .highlight .sb {
         color: rgb(230, 153, 172);
    }
     .highlight .sc {
         color: rgb(230, 153, 172);
    }
     .highlight .sd {
         color: rgb(230, 153, 172);
    }
     .highlight .s2 {
         color: rgb(230, 153, 172);
    }
     .highlight .se {
         color: rgb(230, 153, 172);
    }
     .highlight .sh {
         color: rgb(230, 153, 172);
    }
     .highlight .si {
         color: rgb(230, 153, 172);
    }
     .highlight .sx {
         color: rgb(230, 153, 172);
    }
     .highlight .sr {
         color: rgb(153, 230, 172);
    }
     .highlight .s1 {
         color: rgb(230, 153, 172);
    }
     .highlight .ss {
         color: rgb(230, 153, 210);
    }
     .highlight .s {
         color: rgb(230, 153, 172);
    }
     .highlight .na {
         color: rgb(153, 230, 230);
    }
     .highlight .bp {
         color: rgb(191, 191, 191);
    }
     .highlight .nb {
         color: rgb(153, 210, 230);
    }
     .highlight .nc {
         color: rgb(170, 181, 212);
    }
     .highlight .no {
         color: rgb(153, 230, 230);
    }
     .highlight .nd {
         color: rgb(177, 205, 205);
    }
     .highlight .ni {
         color: rgb(230, 153, 230);
    }
     .highlight .ne {
         color: rgb(230, 153, 153);
    }
     .highlight .nf {
         color: rgb(230, 153, 153);
    }
     .highlight .nl {
         color: rgb(230, 153, 153);
    }
     .highlight .nn {
         color: rgb(191, 191, 191);
    }
     .highlight .nt {
         color: rgb(153, 153, 230);
    }
     .highlight .vc {
         color: rgb(153, 230, 230);
    }
     .highlight .vg {
         color: rgb(153, 230, 230);
    }
     .highlight .vi {
         color: rgb(153, 230, 230);
    }
     .highlight .nv {
         color: rgb(153, 230, 230);
    }
     .highlight .ow {
         color: rgb(191, 191, 191);
    }
     .highlight .o {
         color: rgb(191, 191, 191);
    }
     .highlight .w {
         color: rgb(191, 191, 191);
    }
     .highlight {
         background-color: rgb(33, 33, 33);
    }
}
 
