* {
    box-sizing: border-box
}

input,select,textarea,button {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 14px;
    line-height: 1.5;
    color: #24292e;
    background-color: #fff
}

a {
    color: #0366d6;
    text-decoration: none
}

a:hover {
    text-decoration: underline
}

b,strong {
    font-weight: 600
}

hr,.rule {
    height: 0;
    margin: 15px 0;
    overflow: hidden;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #dfe2e5
}

hr::before,.rule::before {
    display: table;
    content: ""
}

hr::after,.rule::after {
    display: table;
    clear: both;
    content: ""
}

table {
    border-spacing: 0;
    border-collapse: collapse
}

td,th {
    padding: 0
}

button {
    cursor: pointer;
    border-radius: 0
}

[hidden][hidden] {
    display: none !important
}

details summary {
    cursor: pointer
}

details:not([open])>*:not(summary) {
    display: none !important
}

h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    margin-bottom: 0
}

h1 {
    font-size: 32px;
    font-weight: 600
}

h2 {
    font-size: 24px;
    font-weight: 600
}

h3 {
    font-size: 20px;
    font-weight: 600
}

h4 {
    font-size: 16px;
    font-weight: 600
}

h5 {
    font-size: 14px;
    font-weight: 600
}

h6 {
    font-size: 12px;
    font-weight: 600
}

p {
    margin-top: 0;
    margin-bottom: 10px
}

small {
    font-size: 90%
}

blockquote {
    margin: 0
}

ul,ol {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0
}

ol ol,ul ol {
    list-style-type: lower-roman
}

ul ul ol,ul ol ol,ol ul ol,ol ol ol {
    list-style-type: lower-alpha
}

dd {
    margin-left: 0
}

tt,code {
    font-family: "SFMono-Regular",Consolas,"Liberation Mono",Menlo,Courier,monospace;
    font-size: 12px
}

pre {
    margin-top: 0;
    margin-bottom: 0;
    font-family: "SFMono-Regular",Consolas,"Liberation Mono",Menlo,Courier,monospace;
    font-size: 12px
}

.markdown-body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    line-height: 1.5;
    word-wrap: break-word
}

.markdown-body::before {
    display: table;
    content: ""
}

.markdown-body::after {
    display: table;
    clear: both;
    content: ""
}

.markdown-body>*:first-child {
    margin-top: 0 !important
}

.markdown-body>*:last-child {
    margin-bottom: 0 !important
}

.markdown-body a:not([href]) {
    color: inherit;
    text-decoration: none
}

.markdown-body .absent {
    color: #cb2431
}

.markdown-body .anchor {
    float: left;
    padding-right: 4px;
    margin-left: -20px;
    line-height: 1
}

.markdown-body .anchor:focus {
    outline: none
}

.markdown-body p,.markdown-body blockquote,.markdown-body ul,.markdown-body ol,.markdown-body dl,.markdown-body table,.markdown-body pre {
    margin-top: 0;
    margin-bottom: 16px
}

.markdown-body hr {
    height: .25em;
    padding: 0;
    margin: 24px 0;
    background-color: #e1e4e8;
    border: 0
}

.markdown-body blockquote {
    padding: 0 1em;
    color: #6a737d;
    border-left: 0.25em solid #dfe2e5
}

.markdown-body blockquote>:first-child {
    margin-top: 0
}

.markdown-body blockquote>:last-child {
    margin-bottom: 0
}

.markdown-body kbd {
    display: inline-block;
    padding: 3px 5px;
    font-size: 11px;
    line-height: 10px;
    color: #444d56;
    vertical-align: middle;
    background-color: #fafbfc;
    border: solid 1px #c6cbd1;
    border-bottom-color: #959da5;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #959da5
}

.markdown-body h1,.markdown-body h2,.markdown-body h3,.markdown-body h4,.markdown-body h5,.markdown-body h6 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.25
}

.markdown-body h1 .octicon-link,.markdown-body h2 .octicon-link,.markdown-body h3 .octicon-link,.markdown-body h4 .octicon-link,.markdown-body h5 .octicon-link,.markdown-body h6 .octicon-link {
    color: #1b1f23;
    vertical-align: middle;
    visibility: hidden
}

.markdown-body h1:hover .anchor,.markdown-body h2:hover .anchor,.markdown-body h3:hover .anchor,.markdown-body h4:hover .anchor,.markdown-body h5:hover .anchor,.markdown-body h6:hover .anchor {
    text-decoration: none
}

.markdown-body h1:hover .anchor .octicon-link,.markdown-body h2:hover .anchor .octicon-link,.markdown-body h3:hover .anchor .octicon-link,.markdown-body h4:hover .anchor .octicon-link,.markdown-body h5:hover .anchor .octicon-link,.markdown-body h6:hover .anchor .octicon-link {
    visibility: visible
}

.markdown-body h1 tt,.markdown-body h1 code,.markdown-body h2 tt,.markdown-body h2 code,.markdown-body h3 tt,.markdown-body h3 code,.markdown-body h4 tt,.markdown-body h4 code,.markdown-body h5 tt,.markdown-body h5 code,.markdown-body h6 tt,.markdown-body h6 code {
    font-size: inherit
}

.markdown-body h1 {
    padding-bottom: 0.3em;
    font-size: 2em;
    border-bottom: 1px solid #eaecef
}

.markdown-body h2 {
    padding-bottom: 0.3em;
    font-size: 1.5em;
    border-bottom: 1px solid #eaecef
}

.markdown-body h3 {
    font-size: 1.25em
}

.markdown-body h4 {
    font-size: 1em
}

.markdown-body h5 {
    font-size: 0.875em
}

.markdown-body h6 {
    font-size: 0.85em;
    color: #6a737d
}

.markdown-body ul,.markdown-body ol {
    padding-left: 2em
}

.markdown-body ul.no-list,.markdown-body ol.no-list {
    padding: 0;
    list-style-type: none
}

.markdown-body ul ul,.markdown-body ul ol,.markdown-body ol ol,.markdown-body ol ul {
    margin-top: 0;
    margin-bottom: 0
}

.markdown-body li {
    word-wrap: break-all
}

.markdown-body li>p {
    margin-top: 16px
}

.markdown-body li+li {
    margin-top: .25em
}

.markdown-body dl {
    padding: 0
}

.markdown-body dl dt {
    padding: 0;
    margin-top: 16px;
    font-size: 1em;
    font-style: italic;
    font-weight: 600
}

.markdown-body dl dd {
    padding: 0 16px;
    margin-bottom: 16px
}

table {
    width: 100%;
    overflow: auto;
    th {
        font-weight: 600
    }
    th, td {
        padding: 6px 13px;
        border: 1px solid #dfe2e5
    }
    tr {
        border-top: 1px solid #c6cbd1;
        &:nth-child(2n) {
            background-color: #f6f8fa
        }
    }
}

img {
    max-width: 100%;
    height: auto;
    &[align=right] {
        padding-left: 20px
    }
    &[align=left] {
        padding-right: 20px
    }
}

.emoji {
    max-width: none;
    vertical-align: text-top;
    background-color: transparent
}

.markdown-body span.frame {
    display: block;
    overflow: hidden
}

.markdown-body span.frame>span {
    display: block;
    float: left;
    width: auto;
    padding: 7px;
    margin: 13px 0 0;
    overflow: hidden;
    border: 1px solid #dfe2e5
}

.markdown-body span.frame span img {
    display: block;
    float: left
}

.markdown-body span.frame span span {
    display: block;
    padding: 5px 0 0;
    clear: both;
    color: #24292e
}

.markdown-body span.align-center {
    display: block;
    overflow: hidden;
    clear: both
}

.markdown-body span.align-center>span {
    display: block;
    margin: 13px auto 0;
    overflow: hidden;
    text-align: center
}

.markdown-body span.align-center span img {
    margin: 0 auto;
    text-align: center
}

.markdown-body span.align-right {
    display: block;
    overflow: hidden;
    clear: both
}

.markdown-body span.align-right>span {
    display: block;
    margin: 13px 0 0;
    overflow: hidden;
    text-align: right
}

.markdown-body span.align-right span img {
    margin: 0;
    text-align: right
}

.markdown-body span.float-left {
    display: block;
    float: left;
    margin-right: 13px;
    overflow: hidden
}

.markdown-body span.float-left span {
    margin: 13px 0 0
}

.markdown-body span.float-right {
    display: block;
    float: right;
    margin-left: 13px;
    overflow: hidden
}

.markdown-body span.float-right>span {
    display: block;
    margin: 13px auto 0;
    overflow: hidden;
    text-align: right
}

.markdown-body code,.markdown-body tt {
    padding: 0.2em 0.4em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(27,31,35,0.05);
    border-radius: 3px
}

.markdown-body code br,.markdown-body tt br {
    display: none
}

.markdown-body del code {
    text-decoration: inherit
}

.markdown-body pre {
    word-wrap: normal
}

.markdown-body pre>code {
    padding: 0;
    margin: 0;
    font-size: 100%;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0
}

.markdown-body .highlight {
    margin-bottom: 16px
}

.markdown-body .highlight pre {
    margin-bottom: 0;
    word-break: normal
}

.markdown-body .highlight pre,.markdown-body pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f6f8fa;
    border-radius: 3px
}

.markdown-body pre code,.markdown-body pre tt {
    display: inline;
    max-width: auto;
    padding: 0;
    margin: 0;
    overflow: visible;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0
}

.markdown-body .csv-data td,.markdown-body .csv-data th {
    padding: 5px;
    overflow: hidden;
    font-size: 12px;
    line-height: 1;
    text-align: left;
    white-space: nowrap
}

.markdown-body .csv-data .blob-num {
    padding: 10px 8px 9px;
    text-align: right;
    background: #fff;
    border: 0
}

.markdown-body .csv-data tr {
    border-top: 0
}

.markdown-body .csv-data th {
    font-weight: 600;
    background: #f6f8fa;
    border-top: 0
}

.highlight table td { padding: 5px; }
.highlight table pre { margin: 0; }
.highlight .cm {
  color: #999988;
  font-style: italic;
}
.highlight .cp {
  color: #999999;
  font-weight: bold;
}
.highlight .c1 {
  color: #999988;
  font-style: italic;
}
.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic;
}
.highlight .c, .highlight .cd {
  color: #999988;
  font-style: italic;
}
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}
.highlight .gd {
  color: #000000;
  background-color: #ffdddd;
}
.highlight .ge {
  color: #000000;
  font-style: italic;
}
.highlight .gr {
  color: #aa0000;
}
.highlight .gh {
  color: #999999;
}
.highlight .gi {
  color: #000000;
  background-color: #ddffdd;
}
.highlight .go {
  color: #888888;
}
.highlight .gp {
  color: #555555;
}
.highlight .gs {
  font-weight: bold;
}
.highlight .gu {
  color: #aaaaaa;
}
.highlight .gt {
  color: #aa0000;
}
.highlight .kc {
  color: #000000;
  font-weight: bold;
}
.highlight .kd {
  color: #000000;
  font-weight: bold;
}
.highlight .kn {
  color: #000000;
  font-weight: bold;
}
.highlight .kp {
  color: #000000;
  font-weight: bold;
}
.highlight .kr {
  color: #000000;
  font-weight: bold;
}
.highlight .kt {
  color: #445588;
  font-weight: bold;
}
.highlight .k, .highlight .kv {
  color: #000000;
  font-weight: bold;
}
.highlight .mf {
  color: #009999;
}
.highlight .mh {
  color: #009999;
}
.highlight .il {
  color: #009999;
}
.highlight .mi {
  color: #009999;
}
.highlight .mo {
  color: #009999;
}
.highlight .m, .highlight .mb, .highlight .mx {
  color: #009999;
}
.highlight .sb {
  color: #d14;
}
.highlight .sc {
  color: #d14;
}
.highlight .sd {
  color: #d14;
}
.highlight .s2 {
  color: #d14;
}
.highlight .se {
  color: #d14;
}
.highlight .sh {
  color: #d14;
}
.highlight .si {
  color: #d14;
}
.highlight .sx {
  color: #d14;
}
.highlight .sr {
  color: #009926;
}
.highlight .s1 {
  color: #d14;
}
.highlight .ss {
  color: #990073;
}
.highlight .s {
  color: #d14;
}
.highlight .na {
  color: #008080;
}
.highlight .bp {
  color: #999999;
}
.highlight .nb {
  color: #0086B3;
}
.highlight .nc {
  color: #445588;
  font-weight: bold;
}
.highlight .no {
  color: #008080;
}
.highlight .nd {
  color: #3c5d5d;
  font-weight: bold;
}
.highlight .ni {
  color: #800080;
}
.highlight .ne {
  color: #990000;
  font-weight: bold;
}
.highlight .nf {
  color: #990000;
  font-weight: bold;
}
.highlight .nl {
  color: #990000;
  font-weight: bold;
}
.highlight .nn {
  color: #555555;
}
.highlight .nt {
  color: #000080;
}
.highlight .vc {
  color: #008080;
}
.highlight .vg {
  color: #008080;
}
.highlight .vi {
  color: #008080;
}
.highlight .nv {
  color: #008080;
}
.highlight .ow {
  color: #000000;
  font-weight: bold;
}
.highlight .o {
  color: #000000;
  font-weight: bold;
}
.highlight .w {
  color: #bbbbbb;
}
.highlight {
  background-color: #f8f8f8;
}

.dark {
a {
  color: rgb(140, 140, 250);
}

::-webkit-scrollbar-track-piece {
  background-color: rgba(255, 255, 255, 0.2) !important;
}

::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.3) !important;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5) !important;
}

embed[type="application/pdf"] {
  filter: invert(90%);
}

html {
  color: rgb(191, 191, 191);
  background: rgb(31, 31, 31) !important;
}

body {
  background-color: rgb(31, 31, 31);
  background-image: none !important;
}

input,
select,
textarea,
button {
  color: rgb(191, 191, 191);
  background-color: rgb(31, 31, 31);
}

font {
  color: rgb(191, 191, 191);
}

html {
  filter: contrast(100%) brightness(100%) saturate(100%);
}

.NIGHTEYE_Filter {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  pointer-events: none;
  z-index: 2147483647;
}

.NIGHTEYE_YellowFilter {
  background: rgba(255, 255, 0, 0.15);
  opacity: 0;
}

.NIGHTEYE_BlueFilter {
  background: rgba(0, 0, 255, 0.15);
  opacity: 0;
}

.NIGHTEYE_DimFilter {
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
}

.NIGHTEYE_TransformZ {
  transform: translateZ(0px);
}

body {
  color: rgb(191, 191, 191);
  background-color: rgb(28, 28, 33);
}

a {
  color: rgb(153, 189, 230);
}

hr,
.rule {
  border-bottom-color: rgb(54, 54, 54);
}

.markdown-body .absent {
  color: rgb(230, 153, 159);
}

.markdown-body hr {
  background-color: rgb(51, 51, 51);
}

.markdown-body blockquote {
  color: rgb(186, 191, 196);
}

.markdown-body kbd {
  color: rgb(184, 191, 199);
  background-color: rgb(31, 31, 31);
  border-color: rgb(68, 76, 85) rgb(68, 76, 85) rgb(113, 122, 132);
  box-shadow: rgb(113, 122, 132) 0px -1px 0px inset;
}

.markdown-body h1 .octicon-link,
.markdown-body h2 .octicon-link,
.markdown-body h3 .octicon-link,
.markdown-body h4 .octicon-link,
.markdown-body h5 .octicon-link,
.markdown-body h6 .octicon-link {
  color: rgb(191, 191, 191);
}

.markdown-body h6 {
  color: rgb(186, 191, 196);
}

.markdown-body table th,
.markdown-body table td {
  border: 1px solid rgb(54, 54, 54);
}

.markdown-body table tr {
  background-color: rgb(28, 28, 33);
  border-top: 1px solid rgb(68, 76, 85);
}

.markdown-body table tr:nth-child(2n) {
  background-color: rgb(33, 33, 33);
}

.markdown-body img {
  background-color: rgb(28, 28, 33);
}

.markdown-body span.frame>span {
  border: 1px solid rgb(54, 54, 54);
}

.markdown-body span.frame span img {
  display: block;
  float: left;
}

.markdown-body span.frame span span {
  color: rgb(191, 191, 191);
}

.markdown-body code,
.markdown-body tt {
  background-color: rgba(31, 31, 31, 0.05);
}

.markdown-body .highlight pre,
.markdown-body pre {
  background-color: rgb(33, 33, 33);
}

.markdown-body .csv-data .blob-num {
  background: rgb(28, 28, 33);
}

.markdown-body .csv-data th {
  background: rgb(33, 33, 33);
}

.highlight .cm {
  color: rgb(196, 196, 186);
}

.highlight .cp {
  color: rgb(191, 191, 191);
}

.highlight .c1 {
  color: rgb(196, 196, 186);
}

.highlight .cs {
  color: rgb(191, 191, 191);
}

.highlight .c,
.highlight .cd {
  color: rgb(196, 196, 186);
}

.highlight .err {
  color: rgb(230, 153, 153);
  background-color: rgb(75, 47, 47);
}

.highlight .gd {
  color: rgb(191, 191, 191);
  background-color: rgb(69, 17, 17);
}

.highlight .ge {
  color: rgb(191, 191, 191);
}

.highlight .gr {
  color: rgb(230, 153, 153);
}

.highlight .gh {
  color: rgb(191, 191, 191);
}

.highlight .gi {
  color: rgb(191, 191, 191);
  background-color: rgb(17, 69, 17);
}

.highlight .go {
  color: rgb(191, 191, 191);
}

.highlight .gp {
  color: rgb(191, 191, 191);
}

.highlight .gu {
  color: rgb(191, 191, 191);
}

.highlight .gt {
  color: rgb(230, 153, 153);
}

.highlight .kc {
  color: rgb(191, 191, 191);
}

.highlight .kd {
  color: rgb(191, 191, 191);
}

.highlight .kn {
  color: rgb(191, 191, 191);
}

.highlight .kp {
  color: rgb(191, 191, 191);
}

.highlight .kr {
  color: rgb(191, 191, 191);
}

.highlight .kt {
  color: rgb(170, 181, 212);
}

.highlight .k,
.highlight .kv {
  color: rgb(191, 191, 191);
}

.highlight .mf {
  color: rgb(153, 230, 230);
}

.highlight .mh {
  color: rgb(153, 230, 230);
}

.highlight .il {
  color: rgb(153, 230, 230);
}

.highlight .mi {
  color: rgb(153, 230, 230);
}

.highlight .mo {
  color: rgb(153, 230, 230);
}

.highlight .m,
.highlight .mb,
.highlight .mx {
  color: rgb(153, 230, 230);
}

.highlight .sb {
  color: rgb(230, 153, 172);
}

.highlight .sc {
  color: rgb(230, 153, 172);
}

.highlight .sd {
  color: rgb(230, 153, 172);
}

.highlight .s2 {
  color: rgb(230, 153, 172);
}

.highlight .se {
  color: rgb(230, 153, 172);
}

.highlight .sh {
  color: rgb(230, 153, 172);
}

.highlight .si {
  color: rgb(230, 153, 172);
}

.highlight .sx {
  color: rgb(230, 153, 172);
}

.highlight .sr {
  color: rgb(153, 230, 172);
}

.highlight .s1 {
  color: rgb(230, 153, 172);
}

.highlight .ss {
  color: rgb(230, 153, 210);
}

.highlight .s {
  color: rgb(230, 153, 172);
}

.highlight .na {
  color: rgb(153, 230, 230);
}

.highlight .bp {
  color: rgb(191, 191, 191);
}

.highlight .nb {
  color: rgb(153, 210, 230);
}

.highlight .nc {
  color: rgb(170, 181, 212);
}

.highlight .no {
  color: rgb(153, 230, 230);
}

.highlight .nd {
  color: rgb(177, 205, 205);
}

.highlight .ni {
  color: rgb(230, 153, 230);
}

.highlight .ne {
  color: rgb(230, 153, 153);
}

.highlight .nf {
  color: rgb(230, 153, 153);
}

.highlight .nl {
  color: rgb(230, 153, 153);
}

.highlight .nn {
  color: rgb(191, 191, 191);
}

.highlight .nt {
  color: rgb(153, 153, 230);
}

.highlight .vc {
  color: rgb(153, 230, 230);
}

.highlight .vg {
  color: rgb(153, 230, 230);
}

.highlight .vi {
  color: rgb(153, 230, 230);
}

.highlight .nv {
  color: rgb(153, 230, 230);
}

.highlight .ow {
  color: rgb(191, 191, 191);
}

.highlight .o {
  color: rgb(191, 191, 191);
}

.highlight .w {
  color: rgb(191, 191, 191);
}

.highlight {
  background-color: rgb(33, 33, 33);
}
}
