<script src="https://giscus.app/client.js"
        data-repo="{{ site.repository | downcase }}"
        data-repo-id="{{ site.comments.giscus.repo_id }}"
        data-category="{{ site.comments.giscus.category_name }}"
        data-category-id="{{ site.comments.giscus.category_id }}"
        data-mapping="{{ site.comments.giscus.discussion_term | default: "pathname" }}"
        data-reactions-enabled="{{ site.comments.giscus.reactions_enabled | default: 1 }}"
        data-emit-metadata="{{ site.comments.giscus.emit_metadata | default: 0 }}"
        data-theme="{{ site.comments.giscus.theme | default: "light" }}"
        crossorigin="anonymous"
        async>
</script>
